common --noenable_bzlmod
build --noincompatible_enable_cc_toolchain_resolution

build --incompatible_enable_cc_toolchain_resolution
build --compiler=compiler
build --nostart_end_lib

build:stm32f4 --cpu=stm32f4
build:stm32f4 --platforms=//:stm32f4
build:stm32f4 --crosstool_top=//tools/cc_toolchain:toolchain
